h1 {
  margin: 0;
}

.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

header {
  background-color: black;
  opacity: 0.8;
  color: black;
  min-height: 40px;
  position: sticky;
  top: 0px;
  min-width: 100%;
  z-index: 1;
}

main {
  max-width: 1000px;
  margin-bottom: 130px;

}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  opacity: 0.8;
}

a:hover {
  color: grey;
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
}
