
.aboutBody {
   
    text-align: left;
    width: 75%;
    margin: 2% auto;
    font-size: 1.2em;

}

h2 {
    margin: 1% 5%;
    font-size: 3em;
}

.aboutBody a {
    color: black;
    
}

.aboutBody a:hover {
    color: grey;
}

.devId {
    display: block;
    margin: 1% 2%;
}

.devId img {
    margin: 0 5px;
}